dlib==19.24.2
google-auth==2.28.1
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
gTTS==2.5.1
imutils==0.5.4
lgpio==0.2.2.0
numpy==1.26.4
opencv-contrib-python==4.9.0.80
picamera2==0.3.17
pillow==10.2.00
PyAudio==0.2.149
PyQt5==5.15.9
PyQt5-sip==12.11.1
pytesseract==0.3.10
pytest==7.2.1
sounddevice==0.4.6
SpeechRecognition==3.10.1
v4l2-python3==0.3.3
